@font-face {
    /*font-family: 'Dancing Script' "cursive";
    font-family: 'Amatic SC', "cursive";
    font-family: 'Bad Script', "cursive";
    font-family: 'Parisienne', "cursive";
    font-family: 'Coming Soon', "cursive";
    font-family: 'Petit Formal Script', "cursive";
    font-family: 'League Script', "cursive";
    font-family: "Antro Vectra", "cursive";
    font-family: "Benton-modern", "cursive";
    font-family: 'Playfair Display', serif;
    font-family: 'beautiful_script', serif;
    font-family: 'deadhead_script', serif;
    font-family: 'League_Script', serif;*/
    font-family: 'Didot', serif;
    src: url("css/fonts/Didot.eot");
    src:
    url("css/fonts/Didot.woff") format("woff"),
    url("css/fonts/Didot.otf") format("opentype"),
    url("css/fonts/Didot.svg#filename") format("svg");
    }


    /*src: url('DancingScript.eot');
    src: local('Dancing Script'), local('DancingScript'),
        url('DancingScript.eot?#iefix') format('embedded-opentype'),
        url('DancingScript.woff') format('woff'),
        url('DancingScript.ttf') format('truetype');

        src: url('AmaticSC.eot');
        src: local('Amatic SC'), local('AmaticSC'),
            url('AmaticSC.eot?#iefix') format('embedded-opentype'),
            url('AmaticSC.woff') format('woff'),
            url('AmaticSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;*/
}
/*font-family: 'Dancing Script' "cursive";
font-family: 'Amatic SC', "cursive";
font-family: 'Bad Script', "cursive";
font-family: 'Parisienne', "cursive";
font-family: 'Coming Soon', "cursive";
font-family: 'Petit Formal Script', "cursive";
font-family: 'League Script', "cursive";
font-family: "Antro Vectra", "cursive";
font-family: "Benton-modern", "cursive";
font-family: 'Playfair Display', serif;
font-family: 'beautiful_script', serif;
font-family: 'deadhead_script', serif;
font-family: 'League_Script', serif;*/

* {
    box-sizing: border-box;
}

/* ------------------------------------------------------------------- */

/* globalne klasy */

/* ------------------------------------------------------------------- */

.main-header.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

body {
    flex: auto;
    flex-wrap: wrap;
    font-family: "Didot";
    font-family: cursive;
    /*background-color: pink;*/
        max-width: 1200px;

        /*height: 9000px;*/




}

.main-header {
    height: 80px;
    position: relative;
    margin-left: 60px;
    height: 200px;
    margin-right: 60px;
    /*background-color: orange;*/
    width: 1300px;

}

.main-logo {
    color: black;
    padding-top: 80px;
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    letter-spacing: 30px;
    font-family: "Didot";
    margin-top: 40px;

    /*background-color: yellow;*/
}
.main-logo.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100px;
    /*background-color: red;*/

}
.container {
    /*background-color: green;*/

margin: 0 auto;
box-sizing: border-box;
max-width: 1300px;
padding-right: 300px;
width: 1300px;

}

.main-header-nav {
    position: absolute;
    display: inline-block;

}

h1 span {
    color: black;
    font-weight: bolder;
}

.main-nav {
    float: right;
   font-family: "didot";
    margin-top: 30px;
}

.main-nav ul {
    margin-left: 120px;
    display: inline;

}

.main-nav li {
    display: inline-block;
    padding-right: 60px;
}

.main-nav a {
    float: left;
    color: black;
    font-size: 14px;
    margin-top: -10px;
    text-decoration: none;
    line-height: 10px;
    padding-right: 60px;
    word-spacing: 3px;
    font-weight: 600;
    margin-top: -10px;
}


.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}


#galeria {
margin-left: 60px;
height: 7100px;
margin-top: -30px;
/*background-color: blue;*/
width: 1200px;


}

    #picture1{
        float: left;
padding-top: 20px;
padding-left: 100px;
margin-left: 10px;


    }


    #picture2{
    float: left;

        margin-left: 70px;
    }
    #picture3{
        float: left;
margin-left: 70px;
margin-top: 50px;
    }

    #picture4{
        float: left;
margin-left: 90px;
/*margin-top: -50px;*/
    }

    #picture5{
        float: left;
margin-left: 70px;
margin-top: 50px;

    }

    #picture6{
        float: left;
margin-left: 70px;

    }

    #picture7{
        float: left;
margin-left: 800px;
margin-top: -540px;
    }
    #picture8{
        float: left;
        margin-left: 90px;

    }

    #picture9{
        float: left;
        /*margin-left: 800px;
        margin-top: -450px;*/
        margin-left: 70px;
        margin-top: 50px;

    }
    #picture10{
        float: left;
        float: left;
        margin-left: 60px;
        margin-top: 20px;
    }
    #picture11{
        float: left;
        margin-left: 780px;
        margin-top: -555px;
    }
    #picture12{
        padding-top: 20px;
        padding-left: 100px;
        margin-left: 10px;
    }
    #picture13{
        padding-top: 20px;
        padding-left: 100px;
        margin-left: 10px;
    }
    #picture14{
        float: left;
        float: left;
        margin-left: 90px;
    }
    #picture15{
        float: left;
        margin-left: 800px;
        margin-top: -440px;
    }
    #picture16{
        float: left;
        float: left;

    }
    #picture17{
        float: left;
        margin-left: 700px;
        margin-top: -500px;
    }
    #photoAnia{
    float: left;
    /*padding-left: 450px;*/
    padding-top: 60px;
margin-left: 100px;

    }
    #photoAnia2{
    float: left;
    padding-top: 60px;
margin-left: 60px;
    }


.row1 {
    /*background-color: green;*/
    width: 1400px;
    height: 700px;
    max-width: 1300px;
    margin-top: 20px;

}
.row2 {
    /*background-color: pink;*/
    width: 1400px;
    height: 700px;
    max-width: 1300px;
    margin-top: 20px;
}
.row3 {
/*background-color: yellow;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 20px;

}
.row4 {
/*background-color: orange;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 20px;

}

.row5 {
/*background-color: red;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 20px;

}
.row6 {
/*background-color: yellow;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 70px;

}

.row7 {
/*background-color: blue;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 70px;
}

.row8 {
/*background-color: pink;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 70px;

}

.row9 {
/*background-color: green;*/
width: 1400px;
height: 700px;
max-width: 1300px;
margin-top: 90px;
}
.row10 {
/*background-color: green;*/
width: 1400px;
height: 500px;
max-width: 1300px;
margin-top: -40px;

}
#about {
    /*background-color: pink;*/
    margin-left: 60px;
    height: 1450px;
    margin-top: 20px;
    width: 1200px;
    padding-top: 10px;
font-family: "Didot";
    font-size: 27px;
    padding-left: 50px;

}
.photosAbout{
    /*background-color: yellow;*/
    height: 580px;
    width: 1200px;
    margin-left: 60px;
    margin-right: 20px;
}


.description {
    margin-top: -30px;
    height: 850px;

    width: 1000px;

margin-left: 150px;
font-family: "Didot";

}
.description-title{
    font-size: 34px;
    font-weight: bold;
    padding-left: 30px;
    font-family: "Didot";
    margin-top: 20px;
}
.description-text {
    float: left;
    padding-top: 30px;
    line-height: 40px;
    font-size: 16px;
    width: 900px;
/*background-color: pink;*/
margin-right: 140px;
padding-left: 30px;
    height: 900px;
}


#main-form {
   margin-left: 50px;
    width: 1200px;

    height: 1150px;
    margin-top: -20px;
/*background-color: blue;*/


}

.form {
    margin-left: 100px;

    margin-right: 100px;
    /*background-color: yellow;*/
    width: 1200px;
}

.contact {
    font-weight: bolder;
font-size: 30px;
/*margin-left: 200px;*/
margin-bottom: 40px;
text-transform: uppercase;
width: 100px;
height: 40px;
margin-top: -40px;
padding-left: 20px;
padding-right: 20px;
/*background-color: orange;*/

}


#name {
    color: #f4f4f4;
    width: 600px;
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 20px;
}

.email {
    font: #ffff;
    width: 600px;
    height: 35px;
    margin-left: -120px;
    padding-top: 5px;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 40px;
}

#text-contact {
    font: light#afafaf;
    width: 600px;
    height: 250px;
    padding-left: 5px;
    margin-top: 20px;
    padding-bottom: 200px;
}


.footer {
margin-left: -40px;

margin-top: 130px;
/*background-color: grey;*/
/*padding-left: -20px;*/
margin-right: 50px;
width: 1300px;
font-weight: bolder;
margin-bottom: 10px;
font-family: "Didot";
}

.col-1-3-footer{

    height: 25px;
    position: absolute;
    width: 1040px;
    margin-left: 90px;
    font-family: "Didot";
}

#rights {
    margin-left: 5px;
    font-size: 18px;
    color: #afafaf;
    margin-top: 20px;
    width: 500px;
    font-family: "Didot", serif;



}

/*.social-media ul li {
    width: 55px;
    float: right;*/

}
/*
/*.social-media   {
    display: inline-block;
    position: relative;

}*/

.find{
    /*background-color: yellow;*/
    /*width: 300px;
    height: 200px;
    margin-left: 40px;*/

}
.social-text{
    font-size: 22px;
        font-family: "Didot";
        margin-left: 190px;
        /* margin-right: 150px; */
        margin-top: 70px;
        padding-top: 20px;
         /*background-color: orange;*/
        width: 900px;
        margin-bottom: 20px;

}
.social-media  {

    margin-top: 50px;
    /*background-color: yellow;*/
    height: 50px;

    font-size: 32px;
    margin-left: 440px;
    margin-right: 250px;

    letter-spacing: 20px;
    padding-left: 40px;
    padding-right: 30px;
}
a {
    text-decoration: none;
}

a:visited {
    color: black;
}



.footer-logo {
    font-size: 25px;
margin-top: 5px;
float: right;
margin-right: -140px;
color: #afafaf;
/* background-color: pink; */
letter-spacing: 5px;
font-family: "Didot";
}

.footer-logo span {
    font-weight: bold;

}

.email {
    font-size: 25px;
    color: black;
    font-family: "Dido";
    padding-left: 300px;
}


.info{
    font-size: 24px;
        color: black;
        font-family: "Didot";
        width: 800px;
        height: 250px;
        /*background-color: pink;*/
        padding-top: 40px;
        line-height: 40px;
        padding-left: 260px;
        margin-top: 600px;
        padding-right: 90px;


}

.telephone {
    font-size: 25px;
    color: black;
    font-family: "Playfair Display";
    padding-left: 300px;
}

.fa-instagram {
    /*color:pink;*/
    color:black;
    font-weight: bolder;
}
.fa-etsy{
    /*color:pink;*/
    color:black;
}

.fa-linkedin-in {
    /*color:pink;*/
    color:black;
}

a:visited.fa-instagram{
    /*color:pink;*/
    color:black;
}

.formularz {
    background-color: blue;
    height: 450px;
    width: 900px;
    margin-top:-700px;
}
/*#agreement {
    background-color: yellow;
}*/
.pink {
    margin-top: 450px;
height: 100px;
width: 440px;
margin-left: 200px;
background-color: yellow;
padding-top: 20px;
}

.one {
    padding-left: 40px;
    font-size: 40px;
}

.two {
    padding-left: 110px;
    font-size: 22px;
}
